/* purgecss start ignore */
@import "tailwindcss/base";
@import "tailwindcss/components";
/* purgecss end ignore */
@import "tailwindcss/utilities";

/** IMAGES **/
.svg-icon {
	width: 1.5rem;
	height: 1.5rem;
}

.svg-icon rect {
	fill: #7692ff;
	transform: translateY(100%);
	transition: transform 0.23s ease-in-out;
}

.svg-icon:hover rect {
	transform: translateY(0);
}

.svg-icon-contact {
	width: 1.75rem;
	height: 1.75rem;
}

/** FONTS & TEXT **/
@font-face {
	font-family: "Eina Bold";
	src: url("/fonts/Eina-Bold.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Inter";
	src: url("/fonts/Inter-Regular.woff") format("woff"),
		url("/fonts/Inter-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Inter Light";
	src: url("/fonts/Inter-Light.woff") format("woff"),
		url("/fonts/Inter-Light.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

.btn span {
	color: hsl(228, 17%, 99%);
}

.link span {
	@apply text-grey-blue;
	text-decoration: underline;
}

/** LISTS **/
.list-icon li {
	padding-left: 2rem;
}

.list-icon li::before {
	content: "";
	position: absolute;
	top: 5%;
	left: 0;
	background: url("/img/check.svg");
	background-size: 20px 20px;
	width: 20px;
	height: 20px;
}

/** DESIGN **/
.border-mobile::before {
	content: "";
	position: absolute;
	left: 0;
	top: 100%;
	width: 30px;
	height: 3px;
	@apply bg-flower-blue;
}

.btn-download {
	transition: all 0.35s cubic-bezier(0.68, 0, 0.265, 1);
}

.btn-download::before {
	@apply bg-flower-blue;
	content: "";
	width: 0;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	transition: all 0.35s cubic-bezier(0.68, 0, 0.265, 1);
}

.btn-download:hover {
	@apply text-white;
}

.btn-download:hover::before {
	width: 100%;
}

/** RESPONSIVE **/
@media (min-width: 768px) {
	.border-mobile::before {
		width: 0;
	}
}
