/* purgecss start ignore */
@import "tailwindcss/base";
@import "tailwindcss/components";
/* purgecss end ignore */
@import "tailwindcss/utilities";

/** LIGHT MODE COLOURS **/
/* purgecss ignore */
:root {
	--colour-accent: #72a4f2;
	--colour-bg: #fcfcfc;
	--colour-body: #4a5568;
	--colour-button-text: #fcfcfc;
	--colour-highlight: #3071d5;
	--colour-title: #091540;
}

/** DARK MODE COLOURS **/
.dark {
	--colour-accent: #aecbf8;
	--colour-bg: #121212;
	--colour-body: hsla(0, 0%, 100%, 0.7);
	--colour-button-text: #102647;
	--colour-highlight: hsla(216, 84%, 83%, 0.87);
	--colour-title: hsla(0, 0%, 100%, 0.87);
}
/* purgecss end ignore */

/** IMAGES **/
.svg-icon {
	width: 1.5rem;
	height: 1.5rem;
}

.svg-icon rect {
	fill: var(--colour-highlight);
	transform: translateY(100%);
	transition: all 0.35s cubic-bezier(0.68, 0, 0.265, 1);
}

.svg-icon:hover rect {
	transform: translateY(0);
}

.svg-icon-contact {
	width: 1.75rem;
	height: 1.75rem;
}

/** FONTS & TEXT **/
@font-face {
	font-family: "Eina Bold";
	src: url("/fonts/Eina-Bold.woff") format("woff"),
		url("/fonts/Eina-Bold.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Inter";
	src: url("/fonts/Inter-Regular.woff") format("woff"),
		url("/fonts/Inter-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Inter Light";
	src: url("/fonts/Inter-Light.woff") format("woff"),
		url("/fonts/Inter-Light.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

/** LISTS **/
.list-icon li {
	padding-left: 2rem;
}

.list-icon li::before {
	content: "";
	position: absolute;
	top: 5%;
	left: 0;
	background-color: var(--colour-highlight);
	mask: url("/img/check.svg") no-repeat 100% 100%;
	mask-size: cover;
	background-size: 20px 20px;
	width: 20px;
	height: 20px;
}

/** DESIGN **/
.border-mobile::before {
	content: "";
	position: absolute;
	left: 0;
	top: 100%;
	width: 30px;
	height: 3px;
	background-color: var(--colour-accent);
}

.btn-download {
	transition: all 0.35s cubic-bezier(0.68, 0, 0.265, 1);
}

.btn-download::before {
	background-color: var(--colour-highlight);
	content: "";
	width: 0;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	transition: all 0.35s cubic-bezier(0.68, 0, 0.265, 1);
}

.btn-download:hover {
	@apply text-white;
}

.btn-download:hover::before {
	width: 100%;
}

.link span {
	transition: all 0.3s ease-in-out;
}

.link:hover span {
	color: var(--colour-highlight);
}

.anim-title {
	opacity: 0;
}

#toggleDarkMode:checked + label {
	@apply bg-accent;
}

#toggleDarkMode:checked + label::after {
	@apply bg-white;
}

.toggle-switch {
	width: 45px;
}

.toggle-switch input {
	visibility: hidden;
	position: absolute;
	z-index: 2;
}

.toggle-switch label {
	cursor: pointer;
	width: 47.5px;
	height: 27.5px;
	border-radius: 20px;
	transition: all 0.35s cubic-bezier(0.68, 0, 0.265, 1);
}

.toggle-switch label::after {
	@apply bg-accent;
	content: "";
	border-radius: 50%;
	position: absolute;
	left: 3px;
	top: 1.75px;
	width: 20px;
	height: 20px;
	transform: translateX(0);
	transition: all 0.35s cubic-bezier(0.68, 0, 0.265, 1);
}

.toggle-switch input:checked + label::after {
	transform: translateX(calc(100% - 0.5px));
}

/** ANIMATIONS **/
@keyframes slideDown {
	from {
		opacity: 0;
		transform: translateY(-20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slideRight {
	from {
		opacity: 0;
		transform: translateX(-20px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

.slide-down {
	opacity: 0;
	animation: 0.6s ease-in 0.2s 1 forwards slideDown;
}

.slide-right {
	opacity: 0;
	animation: 0.5s ease-in 0.1s 1 forwards slideRight;
}

/** RESPONSIVE **/
@media (min-width: 768px) {
	.border-mobile::before {
		width: 0;
	}
}
